@use './variables' as *;
@media (min-width: 768px) {
	$icon-size: 11em;
	$border-width: 16px;
	$shadow-width: 8px;
	.score {
		&__title {
			font-size: 3rem;
			line-height: 2.5rem;
		}
		&__box {
			padding: 0.8em 2.4em;
		}
		&__text {
			font-size: 1.6rem;
		}
		&__value {
			font-size: 6rem;
			line-height: 5rem;
		}
	}
	.game {
		&__icon {
			width: $icon-size;
			height: $icon-size;
			box-shadow: inset 0px $shadow-width 0px rgba(155, 151, 151, 0.5);
			border-width: $border-width;
			img {
				width: 65px;
				height: 65px;
			}
			&::after {
				border-width: $border-width;
			}
		}
		&__paper {
			&::after {
				box-shadow: 0px $shadow-width 0px $paper-shadow;
			}
		}
		&__scissors {
			&::after {
				box-shadow: 0px $shadow-width 0px $scissors-shadow;
			}
		}
		&__rock {
			&::after {
				box-shadow: 0px $shadow-width 0px $rock-shadow;
			}
		}
		&__house {
			box-shadow: none;
		}
		&__text {
			font-size: 2rem;
		}
		&__background {
			img {
				scale: 1;
			}
		}
	}
	.result {
		&__text {
			font-size: 6rem;
		}
		&__play-again-btn {
			font-size: 2rem;
		}
	}

	.rules-btn {
		font-size: 2rem;
	}
	.rules-modal {
		&__title {
			font-size: 4.5rem;
		}
		&__image {
			scale: 1.5;
		}
		&__close-btn {
			scale: 1.5;
		}
	}
	.circle-effect {
		width: 20em;
		height: 20em;
	}
}
