$border-color: rgba(255, 255, 255, 0.24);
$btn-color: rgba(255, 255, 255, 0.5);
$text-color: #f8f8f8;
$value-color: #59576c;
$score-color: #525fa0;
$rules-color: #3d4060;
$paper-color: #4464f3;
$paper-shadow: #2e46bf;
$scissors-color: #eaa312;
$scissors-shadow: #c96f19;
$rock-color: #de3453;
$rock-shadow: #9f1735;